<ion-header>
  <ion-navbar>
    <ion-buttons start *ngIf="!noClose">
      <button ion-button (click)="cancel()">
        取消
      </button>
    </ion-buttons>
    <ion-title>{{ title ? title : node.name }}</ion-title>
    <ion-buttons end>
      <button class="default-button" [disabled]="!f.valid" ion-button (click)="f.onSubmit()">
        确定
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <form #f="ngForm" (ngSubmit)="ok()">
    <ion-item>
      <ion-label>姓名</ion-label>
      <ion-input type="text" [(ngModel)]="node.name" minlength="2" name="name"
        pattern="[\\d\\w\u4e00-\u9fa5]+[\\d\\w\u4e00-\u9fa5 ]*[\\d\\w\u4e00-\u9fa5]+"
        required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>性别</ion-label>
      <ion-select okText="确定" cancelText="取消"
        [(ngModel)]="node.gender" name="gender">
        <ion-option [value]="true">男</ion-option>
        <ion-option [value]="false">女</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>出生日期</ion-label>
      <ion-datetime displayFormat="YYYY-MM-DD" pickerFormat="YYYY-MM-DD"
        doneText="确定" cancelText="取消"
        name="dob" [(ngModel)]="node.dob"></ion-datetime>
    </ion-item>
    <ion-item *ngIf="others.length>0">
      <ion-label>{{ otherTitle }}</ion-label>
      <ion-select okText="确定" cancelText="取消"
        [(ngModel)]="node.other" name="other">
        <ion-option [value]="s" *ngFor="let s of others">{{ s }}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="node.nt">
      <ion-label>婚姻关系</ion-label>
      <ion-select okText="确定" cancelText="取消"
        [(ngModel)]="node.nt" name="nt">
        <ion-option [value]="1">配偶</ion-option>
        <ion-option [value]="2">离异</ion-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="!node.dead">
      <ion-label>联系电话</ion-label>
      <ion-input type="text" [(ngModel)]="node.phone" minlength="3" name="phone"
        pattern="[#\\-\\d]+"></ion-input>
      <ion-note *ngIf="node.phone" item-right>
        <button ion-button small icon-only (click)="call()">
          <ion-icon name="call"></ion-icon>
        </button>
      </ion-note>
    </ion-item>
    <ion-item class="item-input">
      <ion-label>过世</ion-label>
      <ion-toggle [(ngModel)]="node.dead" name="dead"></ion-toggle>
    </ion-item>
    <ion-item (click)="createDob()" *ngIf="!node.dead && node.dob != undefined">
      生日提醒
      <ion-icon name="calendar" color="primary" item-right></ion-icon>
    </ion-item>
    <ion-item *ngIf="node.dead">
      <ion-label>忌日</ion-label>
      <ion-datetime displayFormat="YYYY-MM-DD" pickerFormat="YYYY-MM-DD"
        doneText="确定" cancelText="取消"
        name="dod" [(ngModel)]="node.dod"></ion-datetime>
    </ion-item>
    <ion-item (click)="createDod()" *ngIf="node.dead && node.dod">
      忌日提醒
      <ion-icon name="calendar" color="dark" item-right></ion-icon>
    </ion-item>
  </form>
  <ion-item class="center" *ngIf="!node.dead">
    <button ion-button outline large (click)="readContact()">
      <ion-icon name="contacts"></ion-icon>
      读联系人信息
    </button>
  </ion-item>
  <ion-item class="center">
    <button ion-button color="secondary" outline large (click)="star()">
      <ion-icon [name]="node.star ? 'star' : 'star-outline'"></ion-icon>
      关注
    </button>
    <button ion-button color="danger" outline large (click)="ignore()">
      <ion-icon [name]="node.ignore ? 'ios-remove-circle' : 'ios-remove-circle-outline'"></ion-icon>
      忽略问题
    </button>
  </ion-item>
</ion-content>
