<!DOCTYPE html>
<html lang="zh-CN" ng-app="web" ng-csp>
  <head>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/ng-table.min.css">
    <link rel="stylesheet" href="css/web.css">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="renderer" content="webkit">
    <title>家谱</title>
  </head>
  <body ng-controller="WebCtrl">
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">家</a>
        </div><!-- navbar-header -->
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li>
              <a href="/about.html">关于</a>
            </li>
            <li ng-show="isLogin">
              <a href="/app.html">族谱</a>
            </li>
          </ul>
          <ul ng-hide="isLogin" class="nav navbar-nav navbar-right">
            <li>
              <a href ng-click="showLogin()">注册</a>
            </li>
            <li>
              <a href ng-click="showLogin()">登录</a>
            </li>
          </ul>
          <ul ng-show="isLogin" class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" ng-bind="user.Name">
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li><a>修改用户信息</a></li>
                <li class="divider"></li>
                <li><a ng-click="showLogin()">更换用户</a></li>
                <li><a ng-click="logout()">退出</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- navbar-collapse -->
      </div><!-- container-fluid -->
    </nav>
    <div class="container-fluid">
      <alert ng-repeat="a in alerts" close="closeAlert($index)"
      type="{{ a.type }}">
        {{ a.msg }}
      </alert>
      <div ng-view></div>
    </div><!-- container-fluid -->
    <script src="js/jquery.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-route.min.js"></script>
    <script src="js/angular-locale_zh-cn.js"></script>
    <script src="js/ui-bootstrap-tpls.min.js"></script>
    <script src="js/angular-local-storage.min.js"></script>
    <script src="js/hotkey.min.js"></script>
    <script src="js/app.min.js"></script>
  </body>
</html>

