<ion-header>
  <ion-navbar>
    <ion-title>{{ familyTree.title }}</ion-title>
    <ion-buttons end>
      <button ion-button (click)="info()">
        详情
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <svg id="tree" width="100%" height="100%"></svg>
  <ion-fab right top #setup (click)="setFab(setup)">
    <button ion-fab color="secondary" mini>
      <ion-icon name="cog"></ion-icon>
    </button>
    <ion-fab-list side="left">
      <button ion-fab (click)="selectDefault()" [color]="isDefaultStyle() ? 'secondary' : ''">
        横排
      </button>
      <button ion-fab (click)="selectVertical()" [color]="isVerticalStyle() ? 'secondary' : ''">
        垂丝
      </button>
    </ion-fab-list>
  </ion-fab>
  <ion-fab left bottom #sharing (click)="setFab(sharing)">
    <button ion-fab color="secondary" mini>
      <ion-icon name="share-alt"></ion-icon>
    </button>
    <ion-fab-list side="right">
      <button ion-fab (click)="shareImage()">
        <ion-icon name="image"></ion-icon>
      </button>
      <button ion-fab (click)="shareText()">
        <ion-icon name="text"></ion-icon>
      </button>
      <button ion-fab (click)="shareLink()" *ngIf="false">
        <ion-icon name="link"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>
  <ion-fab right bottom #fab (click)="setFab(fab)">
    <button ion-fab mini>
      <ion-icon name="brush"></ion-icon>
    </button>
    <ion-fab-list side="top">
      <button color="danger" ion-fab (click)="undo()" *ngIf="history.length > 0">
        <ion-icon name="undo"></ion-icon>
      </button>
      <button ion-fab (click)="editNode()">
        <ion-icon name="contact"></ion-icon>
      </button>
      <button ion-fab (click)="addParent()" *ngIf="isRoot()">
        <ion-icon name="git-pull-request"></ion-icon>
      </button>
      <button ion-fab (click)="addConsort()" *ngIf="isDefault()">
        <ion-icon name="contacts"></ion-icon>
      </button>
      <button ion-fab (click)="addChildren()" *ngIf="isDefault()">
        <ion-icon name="git-merge"></ion-icon>
      </button>
      <button ion-fab color="secondary" (click)="copy()">
        <ion-icon name="copy"></ion-icon>
      </button>
      <button ion-fab color="secondary" *ngIf="treeService.copyNode" (click)="paste()">
          {{ treeService.copyNode.name.substr(0, 3) }}
      </button>
      <button color="danger" ion-fab (click)="removeNode()"
        *ngIf="showRemove()">
        <ion-icon name="cut"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
