<div class="modal-header">
  <h4 class="modal-title">用户登录</h4>
</div><!-- modal-header -->
<div class="modal-body">
  <form name="loginForm" class="login">
    <div class="form-group" 
    ng-class="{'has-error': old && loginForm.phone.$error.required}">
      <label class="control-label" for="i_phone">手机号</label>
      <input ng-model="user.phone" enter required name="phone"
      type="text" class="form-control" id="i_phone" placeholder="输入您的手机号"/>
      <span class="help-block" ng-show="old && loginForm.phone.$error.required">不能为空</span>
    </div><!-- form-group -->
    <div class="form-group" 
    ng-class="{'has-error': old && loginForm.password.$error.required}">
      <label class="control-label" for="i_password">密码</label>
      <input ng-model="user.password" enter="ok(loginForm.$valid)" required name="password"
      type="password" class="form-control" id="i_password" placeholder="输入您的密码"/>
      <span class="help-block" ng-show="old && loginForm.password.$error.required">不能为空</span>
    </div><!-- form-group -->
  </form>
</div><!-- modal-body -->
<div class="modal-footer">
  <button ng-click="ok(loginForm.$valid)" ng-disabled="old && !loginForm.$valid"
  class="btn btn-primary">登录</button>
  <button class="btn btn-warning" ng-click="cancel()">取消</button>
</div><!-- modal-footer -->
