<div class="modal-header">
  <h4 class="modal-title">
    <span ng-show="user.m == 'l'">
      用户登录
    </span>
    <span ng-show="user.m == 'r'">
      用户注册
    </span>
    <div class="btn-group pull-right">
      <label class="btn btn-info" ng-model="user.m" btn-radio="'l'">
        <i class="fa fa-key"></i>
        登录
      </label>
      <label class="btn btn-info" ng-model="user.m" btn-radio="'r'">
        <i class="fa fa-pencil-square-o"></i>
        注册
      </label>
    </div><!-- btn-group -->
  </h4>
</div><!-- modal-header -->
<div class="modal-body">
  <form name="loginForm" class="login" ng-show="user.m == 'l'">
    <div class="form-group" 
    ng-class="{'has-error': old && loginForm.phone.$error.required}">
      <label class="control-label" for="i_phone">手机号</label>
      <input ng-model="user.phone" enter required name="phone"
      type="text" class="form-control" id="i_phone" placeholder="输入您的手机号"/>
      <span class="help-block" ng-show="old && loginForm.phone.$error.required">不能为空</span>
    </div><!-- form-group -->
    <div class="form-group" 
    ng-class="{'has-error': old && loginForm.password.$error.required}">
      <label class="control-label" for="i_password">密码</label>
      <input ng-model="user.password" enter required name="password"
      type="password" class="form-control" id="i_password" placeholder="输入您的密码"/>
      <span class="help-block" ng-show="old && loginForm.password.$error.required">不能为空</span>
    </div><!-- form-group -->
    <div class="form-group" 
    ng-class="{'has-error': old && loginForm.solution.$error.required}">
      <label class="control-label" for="i_solution">验证码</label>
      <input ng-model="user.Solution" enter="ok(loginForm.$valid)"
      required name="solution" type="text" class="form-control"
      id="i_solution" placeholder="输入下图中的数字"/>
      <span class="help-block" ng-show="old && loginForm.solution.$error.required">不能为空</span>
    </div><!-- form-group -->
  </form>
  <form name="registerForm" class="login" ng-show="user.m == 'r'">
    <div class="form-group" 
    ng-class="{'has-error': old && registerForm.phone.$error.required}">
      <label class="control-label" for="r_phone">手机号</label>
      <input ng-model="user.phone" enter required name="phone"
      type="text" class="form-control" id="r_phone" placeholder="输入您的手机号"/>
      <span class="help-block" ng-show="old && registerForm.phone.$error.required">不能为空</span>
    </div><!-- form-group -->
    <div class="form-group" 
    ng-class="{'has-error': old && registerForm.name.$error.required}">
      <label class="control-label" for="r_name">姓名</label>
      <input ng-model="user.name" enter required name="name"
      type="text" class="form-control" id="r_name" placeholder="输入您的姓名"/>
      <span class="help-block" ng-show="old && registerForm.phone.$error.required">不能为空</span>
    </div><!-- form-group -->
    <div class="form-group" 
    ng-class="{'has-error': old && registerForm.password.$error.required}">
      <label class="control-label" for="r_password">密码</label>
      <input ng-model="user.password" enter="register(registerForm.$valid)" required name="password"
      type="password" class="form-control" id="r_password" placeholder="输入您的密码"/>
      <span class="help-block" ng-show="old && registerForm.password.$error.required">不能为空</span>
    </div><!-- form-group -->
    <div class="form-group" 
    ng-class="{'has-error': old && (registerForm.password2.$error.required || user.password != user.password2)}">
      <label class="control-label" for="r_password2">重复密码</label>
      <input ng-model="user.password2" required name="password2"
      type="password" class="form-control" id="r_password2" placeholder="重复您的密码"/>
      <span class="help-block" ng-show="old && registerForm.password2.$error.required">不能为空</span>
      <span class="help-block" ng-show="old && user.password != user.password2">密码输入错误</span>
    </div><!-- form-group -->
    <div class="form-group" 
    ng-class="{'has-error': old && registerForm.solution.$error.required}">
      <label class="control-label" for="i_solution2">验证码</label>
      <input ng-model="user.Solution" enter="ok(registerForm.$valid)"
      required name="solution" type="text" class="form-control"
      id="i_solution2" placeholder="输入下图中的数字"/>
      <span class="help-block" ng-show="old && registerForm.solution.$error.required">不能为空</span>
    </div><!-- form-group -->
  </form>
  <input type="hidden" name="captchaId" ng-model="user.CaptchaId"/>
  <a href ng-click="reload()">
    <img ng-src="{{ img }}" alt="Captcha image"/>
    <span class="help-block">验证码图片看不清点击更换</span>
  </a>
</div><!-- modal-body -->
<div class="modal-footer">
  <button ng-show="user.m == 'l'" ng-click="ok(loginForm.$valid)" ng-disabled="old && !loginForm.$valid"
  class="btn btn-primary">
    <i class="fa fa-key"></i>
    登录
  </button>
  <button ng-show="user.m == 'r'" ng-click="ok(registerForm.$valid)" ng-disabled="old && !registerForm.$valid"
  class="btn btn-primary">
    <i class="fa fa-pencil-square-o"></i>
    注册
  </button>
  <button class="btn btn-warning" ng-click="cancel()">
    <i class="fa fa-times"></i>
    关闭
  </button>
</div><!-- modal-footer -->
