<div class="modal-header">
  <h4 class="modal-title">更改密码</h4>
</div><!-- modal-header -->
<div class="modal-body">
  <form name="form">
    <div class="form-group" 
    ng-class="{'has-error': old && form.old.$error.required}">
      <label class="control-label" for="i_old">旧密码</label>
      <input ng-model="p.old" enter required name="old"
      type="password" class="form-control" id="i_old" placeholder="输入您原来的密码"/>
      <span class="help-block" ng-show="old && form.old.$error.required">不能为空</span>
    </div><!-- form-group -->
    <div class="form-group" 
    ng-class="{'has-error': old && form.password.$error.required}">
      <label class="control-label" for="i_password">新密码</label>
      <input ng-model="p.password" enter required name="password"
      type="password" class="form-control" id="i_password" placeholder="输入您新的密码"/>
      <span class="help-block" ng-show="old && form.password.$error.required">不能为空</span>
    </div><!-- form-group -->
    <div class="form-group" 
    ng-class="{'has-error': old && form.password2.$error.required}">
      <label class="control-label" for="i_password2">重复新密码</label>
      <input ng-model="p.password2" enter required name="password2"
      type="password" class="form-control" id="i_password2" placeholder="重复输入您新的密码"/>
      <span class="help-block" ng-show="old && form.password2.$error.required">不能为空</span>
      <span class="help-block" ng-show="old && p.password != p.password2">密码输入错误</span>
    </div><!-- form-group -->
  </form>
</div><!-- modal-body -->
<div class="modal-footer">
  <button ng-click="ok(form.$valid && p.password == p.password2)" ng-disabled="old && (!form.$valid || p.password != p.password2)"
  class="btn btn-primary">确定</button>
  <button class="btn btn-warning" ng-click="cancel()">取消</button>
</div><!-- modal-footer -->
