<div class="modal-header">
  <h4 class="modal-title">
  {{ name }}
    <div class="btn-group pull-right">
      <label class="btn btn-info" ng-model="new" btn-radio="true">新增{{ name }}</label>
      <label class="btn btn-info" ng-model="new" btn-radio="false">历史{{ name }}</label>
    </div><!-- btn-group -->
  </h4>
</div><!-- modal-header -->
<div class="modal-body">
  <div class="row">
    <div class="panel-body col-xs-3">
      <div class="list-group">
        <a href class="list-group-item"
        ng-class="{'active': p.type=='question'}" ng-click="p.type='question'">
          <span class="badge">14</span>
          <h4 class="list-group-item-heading">
            <i class="fa fa-question-circle"></i>
            问题
          </h4>
          <p class="list-group-item-text">使用过程中遇到的问题</p>
        </a>
        <a href class="list-group-item"
        ng-class="{'active': p.type=='bug'}" ng-click="p.type='bug'">
          <span class="badge">14</span>
          <h4 class="list-group-item-heading">
            <i class="fa fa-times-circle"></i>
            错误
          </h4>
          <p class="list-group-item-text">发现的错误</p>
        </a>
        <a href class="list-group-item"
        ng-class="{'active': p.type=='feature'}" ng-click="p.type='feature'">
          <span class="badge">14</span>
          <h4 class="list-group-item-heading">
            <i class="fa fa-heart"></i>
            功能建议
          </h4>
          <p class="list-group-item-text">对本网站的建议</p>
        </a>
      </div><!-- list-group -->
    </div><!-- panel-body -->
    <div class="col-xs-9" collapse="new">
      <table ng-table="tableParams" show-filter="true" class="table">
        <tr ng-repeat="d in $data">
          <td data-title="'标题'" sortable="'title'" filter="{'title': 'text'}">
            {{ d.work }}
          </td>
          <td data-title="'时间'" sortable="'ca'">
            {{ d.ca | date:"yyyy-MM-dd HH:mm:ss" }}
          </td>
        </tr>
      </table>
    </div><!-- 9 -->
    <form name="postForm" class="col-xs-9" collapse="!new">
      <div class="form-group" 
      ng-class="{'has-error': postForm.title.$error.required}">
        <label class="control-label" for="i_title">标题</label>
        <input ng-model="p.title" enter required name="title"
        type="text" class="form-control" id="i_title" placeholder="输入标题"/>
        <span class="help-block" ng-show="postForm.title.$error.required">不能为空</span>
      </div><!-- form-group -->
      <div class="form-group">
        <label class="control-label" for="i_content">内容</label>
        <textarea ng-model="p.content" name="content" rows="6"
        class="form-control" id="i_content" placeholder="输入内容"/>
      </div><!-- form-group -->
    </form>
  </div><!-- row -->
</div><!-- modal-body -->
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()">发送</button>
  <button class="btn btn-warning" ng-click="cancel()">取消</button>
</div><!-- modal-footer -->
