<h3>用户</h3>
<table ng-table="tableParams" show-filter="true" class="table">
  <tr ng-repeat="d in $data">
    <td data-title="'姓名'" sortable="'name'" filter="{'name': 'text'}">
      {{ d.name }}
    </td>
    <td data-title="'手机'" sortable="'phone'" filter="{'phone': 'text'}">
      {{ d.phone }}
    </td>
    <td data-title="'管理员'" sortable="'im'" filter="{'im': 'select'}" filter-data="ims()">
      {{ d.im ? '是' : '否' }}
    </td>
    <td data-title="'注册时间'" sortable="'ca'">
      {{ d.ca | date:"yyyy-MM-dd HH:mm:ss" }}
    </td>
  </tr>
</table>
