<div class="container">
  <div class="list-group col-xs-2">
    <a href="#/count" class="list-group-item"
    ng-class="{'active':name == 'count'}">
      统计
    </a>
    <a href="#/users" class="list-group-item"
    ng-class="{'active':name == 'users'}">
      用户
    </a>
    <a href="#/session" class="list-group-item"
    ng-class="{'active':name == 'session'}">
      会话
    </a>
    <a href="#/post" class="list-group-item"
    ng-class="{'active':name == 'post'}">
      用户反馈
    </a>
  </div>
  <div ng-view class="col-xs-10"></div>
</div><!-- container -->

