<div class="jumbotron">
  <div class="row">
    <img class="col-xs-5" height="360" src="http://www.baidu.com/img/bd_logo1.png"/>
    <div class="col-xs-7">
      <h1>{[{ .session}]}</h1>
      This is the {[{ current }]} page.
      <p>...</p>
      <p>
        <button ng-click="showLogin('r')"
        class="btn btn-primary btn-lg">新用户注册</button>
        <button ng-click="showLogin()"
        class="btn btn-default btn-lg">老用户登录</button>
      </p>
    </div><!-- 7 -->
  </div><!-- row -->
</div><!-- jumbotron -->

