<div class="modal-header">
  <h4 class="modal-title">选择{{ t }}和{{ p }}的子女</h4>
</div><!-- modal-header -->
<div class="modal-body">
  <ul class="list-group">
    <a href ng-repeat="b in c" ng-model="b.s" class="list-group-item list-group-item-success" btn-checkbox>
      {{ b.N }}
    </a>
  </ul>
</div><!-- modal-body -->
<div class="modal-footer">
  <button ng-click="ok()"
  class="btn btn-primary">确定</button>
  <button class="btn btn-warning" ng-click="cancel()">取消</button>
</div><!-- modal-footer -->
