<div class="modal-header">
  <h4 class="modal-title">编辑 {{ node.N }}</h4>
</div><!-- modal-header -->
<div class="modal-body" ng-class="{'male':node.G, 'female':!node.G, 'death':!node.L}">
  <form name="form">
    <div class="row">
      <div class="form-group col-xs-6" 
      ng-class="{'has-error': form.n.$error.required}">
        <label class="control-label col-xs-3" for="i_n">姓名</label>
        <div class="col-xs-6">
          <input ng-model="node.N" enter required name="n"
          type="text" class="form-control" id="i_n" placeholder="输入姓名"/>
        </div><!-- 6 -->
        <span class="help-block col-xs-3" ng-show="form.n.$error.required">不能为空</span>
      </div><!-- form-group -->
    </div><!-- row -->
    <div class="row">
      <div class="form-group col-xs-6">
        <label class="control-label col-xs-3" for="i_g">性别</label>
        <div class="col-xs-6">
          <div class="btn-group">
            <label class="btn btn-default" ng-model="node.G" btn-radio="true">男</label>
            <label class="btn btn-default" ng-model="node.G" btn-radio="false">女</label>
          </div><!-- btn-group -->
        </div><!-- 6 -->
      </div><!-- form-group -->
      <div class="form-group col-xs-6">
        <label class="control-label col-xs-3" for="i_t">手机</label>
        <div class="col-xs-6">
          <input ng-model="node.T" enter name="t"
          type="text" class="form-control" id="i_t" placeholder="输入手机号码"/>
        </div><!-- 6 -->
      </div><!-- form-group -->
    </div><!-- row -->
    <div class="row">
      <div class="form-group col-xs-6">
        <label class="control-label col-xs-3" for="i_l">在世</label>
        <div class="col-xs-6">
          <div class="btn-group">
            <label class="btn btn-default" ng-model="node.L" btn-radio="true">是</label>
            <label class="btn btn-default" ng-model="node.L" btn-radio="false">否</label>
          </div><!-- btn-group -->
        </div><!-- 6 -->
      </div><!-- form-group -->
      <div class="form-group col-xs-6" ng-show="node.L">
        <label class="control-label col-xs-3" for="i_b">生辰</label>
        <div class="col-xs-6">
          <p class="input-group">
            <input type="text" class="form-control" name="b"
            datepicker-popup="yyyy-MM-dd" ng-model="node.B" is-open="opened"
            datepicker-options="dateOptions" date-disabled="disabled(date, mode)"
            close-text="关闭" current-text="今天" clear-text="清除"/>
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="openDate($event)"><i class="fa fa-calendar"></i></button>
            </span>
          </p>
        </div><!-- 6 -->
      </div><!-- form-group -->
      <div class="form-group col-xs-6" ng-hide="node.L">
        <label class="control-label col-xs-3" for="i_d">忌日</label>
        <div class="col-xs-6">
          <p class="input-group">
            <input type="text" class="form-control" name="d"
            datepicker-popup="yyyy-MM-dd" ng-model="node.D" is-open="opened"
            datepicker-options="dateOptions" date-disabled="disabled(date, mode)"
            close-text="关闭" current-text="今天" clear-text="清除"/>
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="openDate($event)"><i class="fa fa-calendar"></i></button>
            </span>
          </p>
        </div><!-- 6 -->
      </div><!-- form-group -->
    </div><!-- row -->
  </form>
</div><!-- modal-body -->
<div class="modal-footer">
  <button ng-click="ok(form.$valid)" ng-disabled="!form.$valid"
  class="btn btn-primary">确定</button>
  <button class="btn btn-warning" ng-click="cancel()">取消</button>
</div><!-- modal-footer -->
