<h3>用户</h3>
<table ng-table="tableParams" show-filter="true"
  class="table table-hover table-condensed">
  <tr ng-repeat="d in $data">
    <td data-title="'姓名'" sortable="'name'" filter="{'name': 'text'}">
      {{ d.name }}
    </td>
    <td data-title="'手机'" sortable="'phone'" filter="{'phone': 'text'}">
      {{ d.phone }}
    </td>
    <td data-title="'客服'" sortable="'im'" filter="{'im': 'select'}" filter-data="selectBoolean()">
      {{ d.im ? '是' : '否' }}
    </td>
    <td data-title="'注册'" sortable="'ca'" class="text-center">
      <small>{{ d.ca | date:"yyyy-MM-dd HH:mm:ss" }}</small>
    </td>
  </tr>
</table>
